.cart__checkout {
    padding: 2rem;
    padding-top: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: #000;
        font-family: Nunito Sans;
        font-size: 1.9325rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 15px;
    }

    h3 {
        color: #202020;
        font-family: Nunito Sans;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 10px;
    }

    .cart__price {
        color: #202020;
        font-family: Nunito Sans;
        font-size: 44.51px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .cart__tag {
        color: #000;
        text-align: center;
        font-family: Nunito Sans;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 25px;
    }

    .cart__buttons {
        width: 320px;
        display: flex;
        justify-content: space-between;
    }

    .btn {
        width: 153px;
        height: 50px;
    }

    .btn-back {
        text-align: center;
        font-family: Nunito Sans;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border: 2px solid;
        border-radius: 5px;

        a {
            color: #000;
        }
    }

    .btn-next {
        color: #fff;
        background-color: #000;
        text-align: center;
        font-family: Nunito Sans;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border: 2px solid #000;
        border-radius: 5px;

        a {
            color: #fff;
        }
    }
}

.cart__products--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;

    .cart__products {
        width: 100%;
        padding: 2rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 985px;

        .cart__product {
            position: relative;
            width: 275px;
            margin: 25px 12px;
            display: flex;
            height: 275px;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 8px 8px 32px #dbdbdb, -8px -8px 32px #ffffff;

            flex-direction: column;

            span {
                font-weight: 500;
            }

            img {
                width: 100%;
                height: 100%;
                filter: brightness(60%);
            }

            .cart__product--info {
                color: #fff;
                display: flex;
                padding: 1rem;
                flex-direction: column;
                justify-content: space-between;
                position: absolute;
                bottom: 0;

                .cart__product--name {
                    color: #fff;
                    font-family: Nunito Sans;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 500;
                }

                .cart__product--quantity {
                    margin-top: 5px;
                }

                .cart__product--price {
                    margin-top: 5px;
                }

                .cart__btn--delete {
                    margin-top: 15px;
                    transition: 0.25s;
                    color: #fff;
                    cursor: pointer;
                }

                .cart__btn--delete:hover {
                    color: rgb(211, 0, 0);
                }
            }
        }
    }

    .cart__product--else {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        i {
            font-size: 100px;
            color: rgba(202, 202, 202, 0.5);
            margin-bottom: 25px;
        }

        p {
            font-weight: 600;
            color: rgba(202, 202, 202, 0.5);
            font-size: 20px;
        }
    }
}
