.cookies {
    background-color: rgba(0, 0, 0, 0.37);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000000000;
    display: flex;
    justify-content: center;
    align-items: center;

    .cookies__banner {
        background-color: #fff;
        max-width: 300px;
        border-radius: 10px;
        height: 350px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 20px;

        * {
            text-align: center;
        }

        img {
            width: 50%;
            position: absolute;
            bottom: 260px;
        }

        .cookies__title {
            font-size: 1.5rem;
        }

        p {
            margin: 15px 0;
        }

        button {
            display: block;
            background-color: rgb(158, 158, 158);
            color: #fff;
            border-radius: 5px;
            width: 100%;
            height: 50px;
            transition: 0.25s;
        }

        button:hover {
            background-color: rgb(99, 99, 99);
        }

        .cookies__link {
            display: block;
            margin-top: 20px;
            color: #00b9b9;
            transition: 0.25s;
        }

        .cookies__link:hover {
            text-decoration: underline;
            color: #008888;
        }
    }
}

.cookies.cookies-hidden {
    display: none;
}
