<section class='footer-pagos'>
    <article>
        <div class='reserve'>
            <img src='/images/reserve.png' alt='' />
        </div>
        <div class='banesco'>
            <img src='/images/banesco.png' alt='' />
        </div>
        <div class='binance'>
            <img src='/images/binance.png' alt='' />
        </div>
        <div class='zelle'>
            <img src='/images/zelle.png' alt='' />
        </div>
        <div class='paypal'>
            <img src='/images/paypal.png' alt='' />
        </div>

    </article>
</section>