<article class='footer'>

    <div class='footer__links'>
        <ul>
            <h4>Principal</h4>
            <li><a href='#'>Inicio</a> </li>
            <li><a href='#'>Productos</a> </li>
            <li><a href='#'>Carrito</a> </li>
        </ul>
        <ul>
            <h4>Políticas</h4>
            <li><a href='/privacy-politic'>Seguridad</a> </li>
            <li><a href='/privacy-politic'>Política de privacidad</a> </li>
            <li><a href='/privacy-politic'>Términos y condiciones</a> </li>
            <li><a href='#'>Preguntas frecuentes</a> </li>
        </ul>
        <ul>
            <h4>Contacto</h4>
            <li><a href='#'>0414 - 2509989</a> </li>
            <li><a href='#'>@distecnomundo</a> </li>
            <li><a href='#'>hello@distecnomundo.com</a> </li>
        </ul>
        <ul>
            <h4>Horarios</h4>
            <li><a href='#'> Lunes a Sábado</a></li>
            <li><a href='#'> 9:30am - 5:30pm</a></li>
        </ul>
    </div>

    <div class='newsletter'>
        <p>Suscríbete a nuestro boletín informativo para enterarte de nuevas
            promociones.</p>
        <form>
            <input type='text' placeholder='hello@distecnomundo.com' />
            <button type='submit'>Suscribirme</button>
        </form>
    </div>

    <footer>
        <div class='footer__social'>
            <a href='/'><i class='bi bi-facebook'></i></a>
            <a href='https://wa.me/584248951663'><i
                    class='bi bi-whatsapp'
                ></i></a>
            <a href='https://www.instagram.com/distecnomundo/?hl=e'><i
                    class='bi bi-instagram'
                ></i></a>
            <a href='mailto:distecnomundo@gmail.com'><i
                    class='bi bi-envelope-fill'
                ></i></a>
        </div>

        <p><span>Distecnomundo</span>
            ©2023. All Rights Reserved / Developed And Designed By
            <a href='https://mywitsite.com' target='_blank'>Witsite</a>.</p>
    </footer>
</article>