<article class='instagram'>

    <h4>Síguenos en nuestras redes sociales</h4>
    <p>Últimas publicaciones</p>
    <section class='post' data-aos='fade-up'>
        {{#each igPost}}

            <a href='{{url}}' target='_blank'>
                <img src='{{img}}' alt='' />
            </a>

        {{/each}}
    </section>

    <section class='align--right'>
        <a target="_blank" href='https://www.instagram.com/distecn'><i
                class='bi bi-twitter'
            ></i></a>
        <a target="_blank" href='https://www.instagram.com/distecn'><i
                class='bi bi-instagram'
            ></i></a>
        <a target="_blank" href='https://www.facebook.com/DistecnomundoOficial'><i
                class='bi bi-facebook'
            ></i></a>
    </section>

</article>