<article class='cookies cookies-hidden' id='cookies'>
    <section class='cookies__banner animate__animated animate__rubberBand'>
        <img src='/svg/galletas.svg' alt='' />
        <h5 class='cookies__title'>Cookies</h5>
        <p>Utilizamos cookies propias y de terceros para mejorar su experiencia.</p>
        <button onclick='cookiesAlert()' id='accept'>De acuerdo</button>
        <a href='' class='cookies__link'>Aviso de cookies</a>
    </section>
</article>